.speaker {
  width: 50px;
  height: 50px;
  z-index: 1;
  position: absolute;
  bottom: 170px;
}

.speaker:hover {
  transform: scale(1.2);
}

.next {
  width: 80px;
  height: 23px;
  z-index: 1;
  position: absolute;
  bottom: 130px;
  right: 40px;
}

.next:hover {
  transform: scale(1.1);
}
